<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .error{color:red;}
    </style>
    <title>Registration Form</title>
</head>
<body>
<form th:action="@{/processCustomerForm}"  th:object="${customer2}"
      method="GET">
    FirstName: <input type="text" th:field="*{firstname}"/> <br>
    LastName:(*) <input type="text" th:field="*{lastname}"/>
    <!--    Add the error-->
    <span
          th:if="${#fields.hasErrors('lastname')}"
          th:errors="*{lastname}"
          class="error"></span> <br>
    Number Of Points:(*) <input type="text" th:field="*{numberOfPoints}"/>

    <span
            th:if="${#fields.hasErrors('numberOfPoints')}"
            th:errors="*{numberOfPoints}"
            class="error"></span> <br>

    Zipcode:(*) <input type="text" th:field="*{zipCode}"/>

    <span
            th:if="${#fields.hasErrors('zipCode')}"
            th:errors="*{zipCode}"
            class="error"></span> <br>

    Employee Code:(*) <input type="text" th:field="*{empCode}"/>

    <span
            th:if="${#fields.hasErrors('empCode')}"
            th:errors="*{empCode}"
            class="error"></span> <br>

    <br><br>

    <input type="submit" value="submit"/>
</form>
</body>
</html>