<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Completed</title>
</head>
<body>
<p th:text="'User register: '+${customer2.firstname}+
' '+${customer2.lastname}"/>

<!--<p th:text="'Country is: '+${customer2.country}"/>-->
<!--<p th:text="'My Favorite OS: '+${customer2.favOs}"/>-->
<!--<li  th:each="os:${objectname.propertyName}" th:text="${os}"/>-->
<ul>
    <li  th:each="os:${customer2.favOS}" th:text="${os}"/>
</ul>

</body>
</html>