<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<form th:action="@{/processForm4}" th:object="${customer}" method="POST">
    FirstName: <input type="text"
           th:field="*{firstname}"/> <br>
    LastName: <input type="text"
           th:field="*{lastname}"/> <br>
    Country:
    <select th:field="*{country}">
      <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
    </select>
    <input type="submit" value="submit"/>

    <br><br>



</form>
</body>
</html>